@import "@unocss/reset/tailwind.css";

html,
body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

.font-secondary {
  font-family: "DM Serif Display", serif;
}

li {
  list-style: none;
}
