@import "@unocss/reset/tailwind.css";

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

.font-secondary {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
